/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    background: url(../images/main-image.jpg) no-repeat center/cover;
    font-family: 'Inter', sans-serif;
    width: 100%;

}

.quiz-area {

    background-color: rgba(54, 44, 81, 0.9);
    color: #d8e8d2;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 50px auto 15px;
    max-width: 600px;
    width: 90%;
    height: 600px;

}

.quiz-area h1 {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    background: #DAD937;
    color: #0c2bc4;
    font-weight: 700;
    margin: 40px auto 10px;
    border-radius: 6px;

}

.main-question {
    padding: 20px 0;
}

.main-question h2 {
    font-size: 25px;
    padding-bottom: 10px;
    color: #d8e8d2;
    border-bottom: 2px solid #d8e8d2;
}

.btn {
    background: #d8e8d2;
    font-weight: 650;
    width: 100%;
    border: 1px solid #F9F871;
    color: rgb(24, 6, 72);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

}

.btn:hover:not([disabled]){
    background: #f1ecf4;
}

.btn:disabled{
    cursor: no-drop;
}

#next-button {
    background: #59044e;
    color: #d8e8d2;
    width: 150px;
    height: 40px;
    border: 1;
    border-radius: 10px;
    margin: 10px auto 0;
    cursor: pointer;
    font-weight: 600;
    float: right;
    box-shadow: 10px 20px 40px rgba(24, 6, 72, 0.4);

}

#next-button:hover {
    color: #59044e;
    background-color: #d8e8d2;

}

#info {
    background: #59044e;
    color: #d8e8d2;
    width: 150px;
    height: 40px;
    border: 1;
    border-radius: 10px;
    margin: 10px auto 0;
    cursor: pointer;
    font-weight: 600;
    float: left;
    box-shadow: 0px 20px 40px rgba (24, 6, 72, 0.4);

}

#info:hover {
    color: #59044e;
    background-color: #d8e8d2;

}

.is-true {
    background: #084F31;
    color: #d8e8d2;
}

.is-false {
    background: #9E0E45;
    color: #d8e8d2;
}

@media screen and (max-width: 500px) {
    .quiz-area {
        display: block;
        width: 90%;
        height: 700px;
    }

    #next-button {
        width: 110px;
    }

    #info {
        width: 110px;
    }
}

@media screen and (max-width: 300px) {

    .quiz-area {
        display: block;
        width: 90%;
        height: 730px;
    }

    #next-button {
        width: 90px;
    }

    #info {
        width: 90px;
    }

}