/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    background: url(../images/main-image.jpg) no-repeat center/cover;
    font-family: 'Inter', sans-serif;
    width: 100%;

}

.quiz-area {

    position: relative;
    background-color: rgba(54, 44, 81, 0.9);
    color: #d8e8d2;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 50px auto 15px;
    max-width: 600px;
    width: 90%;
    height: 550px;

}

.quiz-area h1 {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    background: #DAD937;
    color: #0c2bc4;
    font-weight: 700;
    margin: 40px auto 10px;
    border-radius: 6px;
    box-shadow: 0px 20px 30px rgba(168, 138, 205, 0.4);

}
p{
    font-size: 18px;
    margin: 20px auto;
    color: #8de490;
    box-shadow: 0px 20px 30px rgba(42, 48, 43, 0.4);
}

#question {
    padding: 20px 0;
    margin: 30px auto 10px;
}


.btn {
    background: #d8e8d2;
    font-weight: 650;
    width: 43%;
    height: 45px;
    border: 1px solid #F9F871;
    color: rgb(24, 6, 72);
    padding: 10px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

}

.btn:hover:not([disabled]) {
    background: #f1ecf4;
}

.btn:disabled {
    cursor: no-drop;
}


#next-button:hover {
    color: #59044e;
    background-color: #d8e8d2;

}

#start-button,
#instructions-button,
#next-button,
#restart-button,
#home-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto; /* Center horizontally */
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #59044e;
    color: #d8e8d2;
    box-shadow: 0px 20px 30px rgba(194, 188, 210, 0.4);
}


#start-button:hover,
#submit-btn:hover,
#instructions-button:hover,
#restart-button:hover,
#home-button:hover,
#next-button:hover {
    color: #59044e;
    background-color: #4CAF50;
}

.instructions {
    position: absolute; /* Position relative to the quiz area */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(49, 46, 55);
    color: #d8e8d2;
    border-radius: 10px;
    padding: 30px;
    max-width: 90%; 
    display: none; /* Initially hidden */
   
}

.instructions h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #d4d4e8;
}

.instructions ul li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: #d4d4e8;
}

.instructions #close-instructions {
    background-color: #59044e;
    color: #d8e8d2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;

}
.instructions #close-instructions:hover{
    color: #59044e;
    background-color: #4CAF50;
}


.is-true {
    background: #084F31;
    color: #d8e8d2;

}

.is-false {
    background: #9E0E45;
    color: #d8e8d2;
}

#user-input {
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 200px; /* Width */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 10px; /* Add some spacing */
}
#user-input:hover {
    background-color: #d8e8d2;  
}


/* Style for the button */
#submit-btn {
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    background-color: #59044e; /* Background color */
    color: #ffffff; /* Text color */
    cursor: pointer; /* Cursor style */
    box-shadow: 0px 20px 30px rgba(194, 188, 210, 0.4);
}

  /* Hover effect for the input */
  #user-input:hover,
  #user-input:focus {
    border-color: #59044e; /* Change border color on hover/focus */
  }

  #name-label {
    display: block; /* Display as block */
    margin-bottom: 5px; /* Add some spacing */
    font-size: 16px;
    color: aliceblue;
}

/* For JS use*/
.hide {
    display: none;
}

/* Result section styles */

#result-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0px 20px 30px rgba(194, 188, 210, 0.4);
}
.quiz-result h2 {
    margin-bottom: 20px;
    color:#F9F871;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#result-table th,
#result-table td {
    padding: 10px;
    border: 1px solid #0da24b;
}

#result-table th {
    background-color: #0a491f;
    font-weight: bold;
    text-align: center;
}

#result-table td {
    text-align: center;
}

#congrats-message {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#8de490
}

@media screen and (max-width: 500px) {
    .quiz-area {
        display: block;
        width: 90%;
        height: 630px;
        margin: 10px auto 15px;
    }


    .btn {
        background: #d8e8d2;
        font-weight: 650;
        width: 90%;
        height: 45px;
        border: 1px solid #F9F871;
        color: rgb(24, 6, 72);
        padding: 10px;
        margin: 10px 20px 20px 10px;
        text-align: left;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s;
    
    }

}

@media screen and (max-width: 300px) {

    .quiz-area {
        display: block;
        width: 90%;
        height: 650px;
        margin: 10px auto 15px;
        
    }

    #next-button {
        width: 90px;
    }

    #info {
        width: 90px;
    }
    .instructions {
        position: absolute; /* Position relative to the quiz area */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Center the instructions */
        background-color: rgba(54, 44, 81, 0.9);
        color: #d8e8d2;
        border-radius: 10px;
        padding: 30px;
        max-width: 80%; /* Limit the width to avoid overflow */
        display: none; /* Initially hidden */
       
    }
    
    .instructions h2 {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .instructions ul {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .instructions ul li {
        font-size: 12px;
        margin-bottom: 5px;
    }
    

}